*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#title{
    text-align: center;
    margin: 20px;
}
#title h1{
    margin-bottom: 10px;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input-side{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid black;
}
#input-side button:hover{
    cursor: pointer;
}
#display-side{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


#iframe{
    border: none;
}